:host {
    display: block;
}
nav {
    background: #00bcd4;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px 16px;
}

nav [md-button] {
    text-transform: uppercase;
}