
<md-card>

    <md-card-content>

        <h1>Login</h1>

        <form (ngSubmit)="userForm.valid && login(userForm.value)" #userForm="ngForm">

            <md-input-container class="">

                <input mdInput
                       placeholder="E-mail"
                       type="email"
                       name="email"
                       [(ngModel)]="credential.email"
                       #email="ngModel"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       required />

                <md-error *ngIf="email.hasError('required')">
                    Veuillez saisir un e-mail.
                </md-error>

                <md-error *ngIf="email.hasError('pattern')">
                    Veuillez saisir un e-mail valide.
                </md-error>

            </md-input-container>

            <br />

            <md-input-container class="">

                <input mdInput
                       placeholder="Mot de passe"
                       type="password"
                       name="password"
                       [(ngModel)]="credential.password"
                       #password="ngModel"
                       required />

                <md-error *ngIf="password.hasError('required')">
                    Veuillez saisir un e-mail.
                </md-error>

                <md-error *ngIf="error">
                    {{error}}
                </md-error>

            </md-input-container>

            <br />
            <br />

            <button md-raised-button type="submit" [disabled]="userForm.invalid">Connexion</button>
            <a routerLink="/signup" md-button="">ou m'enregister</a>
        </form>

    </md-card-content>

</md-card>