table {
  border-collapse: collapse;
}

table, tr, th {
  border: 1px solid black;
}

thead {
  background-color: cornflowerblue;
  color: white;
}

tr.even {
  background-color: lightgrey;
}

caption {
  text-decoration: underline;
}

caption.hide {
  color:blue;
}

caption.show {
  color:grey;
}



